.slide {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  /*background-image: url("pic/fifth_page/floor.png");*/
  background-repeat: no-repeat;
  background-size: 100vw 82vh;
  background-position: left bottom;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background-image: url("pic/fifth_page/city.png");
  background-size: auto 51%;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.wrapper02 {
  display: flex;
  flex-direction: row;
  width: 500vw;
  background-image: url("pic/fifth_page/envi.png");
  background-size: auto 46%;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.slide2-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide3-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide4-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  left: 10%;
  top: 28%;
}
.slide5-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: left;
  left: 20vw;
  top: 30vh;
}
.textlast {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: absolute;
  font-size: 3vh;
  top: 30%;
  left: 83%;
}

.start-text-ForUpperone {
  position: absolute;
  transform: translate(75%, 50%);
  font-size: 5vh;
}
.section-text {
  color: #dc285e;
}

.text-highlight {
  color: #dc285e;
  display: inline-block;
  font-size: 3.5vh;
}

/* .character16{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 12vw;
    height: auto;
    min-width: 30px;
    left: 125vw;
    bottom: 18.5vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */
/* .sign{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 15vw;
    height: auto;
    min-width: 15vw;
    left: 142vw;
    bottom: 19.5vh;
  } */

/* slide1 */

.bts {
  transform-style: preserve-3d;
  position: absolute;
  z-index: -5;
  width: 20vw;
  height: auto;
  left: 4vw;
  bottom: 38.5vh;
  animation: bts 1s linear infinite forwards;
  animation-duration: 50s;
}

.character22 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 8vw;
  height: auto;
  left: 30vw;
  bottom: 22vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.character24 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 12vw;
  height: auto;
  left: 70vw;
  bottom: 8vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.character25 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 10vw;
  height: auto;
  left: 228vw;
  bottom: 7vh;
}

.character26 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 235vw;
  bottom: -10vh;
}

.shopUncleChoke {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 30vw;
  height: auto;
  left: 225vw;
  bottom: 17vh;
}

/* slide2 */
.divtvdigitalshop-2{
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  left: 137.5vw;
  bottom: 20vh;
}
.tvdigitalshop-2 {
  width: 25vw;
  height: auto;
}

.tvdigitalshop-3 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 4;
  width: 25vw;
  height: auto;
  left: 251vw;
  bottom: 17vh;
}

.blacktable {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 158vw;
  bottom: 2vh;
}
.character27 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 120vw;
  bottom: 12vh;
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
}
.character23 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 10vw;
  height: auto;
  left: 165vw;
  bottom: 19vh;
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
}

/* slide4 */
.car {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  position: absolute;
  width: 40vw;
  height: auto;
  left: 287vw;
  bottom: -11vh;
}
.character21 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 10vw;
  height: auto;
  left: 360vw;
  bottom: 15vh;
}
.electricpole {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 10vw;
  height: auto;
  left: 320vw;
  bottom: 18vh;
}

/* slide5 */
.character4 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 23vw;
  height: auto;
  left: 460vw;
  bottom: 10vh;
}

h1 {
  font-size: 10vh;
}
.btnNext {
  transform-style: preserve-3d;
  z-index: 6;
  width: 15vw;
  height: auto;
  left: 88%;
  top: 80%;
  transform: translate(-50%, -50%);
  position: relative;
  cursor: pointer;
}
.ufo {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 475vw;
  bottom: 73vh;
}

.textpress {
  position: absolute;
  z-index: 200;
  height: auto;
  width: auto;
  transform: translateX(-50%) translateY(-135%);
  left: 50%;
  top: 0%;
  animation: buttonpress2up_down 1s infinite;
}
.buttonpress {
  position: relative;
  z-index: 200;
  height: auto;
  width: 3vw;
  transform: translate(-50%);
  left: 50%;
  /*left:242.5vw;
  top: 37vh;*/
}

@keyframes buttonpress2up_down {
  0% {
    transform: translateX(-50%) translateY(-120%);
  }
  50% {
    transform: translateX(-50%) translateY(-135%);
  }
  100% {
    transform: translateX(-50%) translateY(-120%);
  }
}

/* for phone */
@media screen and (max-width: 992px) {
  .text-highlight {
    color: #dc285e;
    display: inline-block;
    font-size: 2.5vh;
  }
  /* slide 1 */
  .bts {
    width: 600px;
  }
  .character22 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 30vw;
    height: auto;
    left: 15vw;
    bottom: 22vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .character24 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 50vw;
    height: auto;
    left: 50vw;
    bottom: 8vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .character21 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 350vw;
    bottom: 15vh;
  }
  .electricpole {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 35vw;
    height: auto;
    left: 320vw;
    bottom: 18vh;
  }
  .character4 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 435vw;
    bottom: 20vh;
  }
  .shopUncleChoke {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 60vw;
    height: auto;
    left: 205vw;
    bottom: 20vh;
  }
  /* slide 2 */
  .slide2-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 18%;
  }
  .character27 {
    width: 35vw;
    height: auto;
    left: 110vw;
    bottom: 6vh;
  }
  .character23 {
    width: 20vw;
    height: auto;
    left: 165vw;
    bottom: 19vh;
  }
  .character25 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 30vw;
    height: auto;
    left: 200vw;
    bottom: -5vh;
  }
  .character26 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 30vw;
    height: auto;
    left: 230vw;
    bottom: -8vh;
  }
  .blacktable {
    width: 40vw;
    height: auto;
    left: 150vw;
    bottom: 7vh;
  }
  .car {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 8;
    position: absolute;
    width: 145vw;
    height: auto;
    left: 275vw;
    bottom: -15vh;
    opacity: 0.8;
  }
  .divtvdigitalshop-2{
    left: 126vw;
    bottom: 22vh;
  }
  .tvdigitalshop-3 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 4;
    width: 40vw;
    height: auto;
    left: 255vw;
    bottom: 20vh;
  }
  .tvdigitalshop-2 {
    width: 50vw;
    height: auto;
  }

  .buttonpress {
    position: relative;
    z-index: 200;
    height: auto;
    width: 60px;
    transform: translate(-50%);
    left: 50%;
  }


  /* slide 3 */
  .slide3-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 25%;
  }

  /* slide 4 */
  .slide4-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 18%;
    left: 0%;
  }

  /* slide 5 */
  .slide5-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: left;
    left: 15vw;
    top: 30vh;
  }
  .start-text-ForUpperone {
    position: absolute;
    transform: translate(40%, 80%);
    font-size: 5vh;
  }
  h1 {
    font-size: 100px;
  }
  .btnNext {
    width: 40vw;
    height: auto;
    left: 75%;
    top: 85%;
    transform: translate(-50%, -50%);
    position: relative;
    cursor: pointer;
  }
}

@keyframes bts {
  from {
    left: 0vw;
  }
  to {
    left: 500vw;
  }
}
