.slide {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  /*background-image: url("pic/second_page/floor.png");*/
  background-size: 100vw 100vh;
  background-position: left bottom;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background-image: url("pic/second_page/city.png");
  background-size: auto 51%;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.wrapper02 {
  display: flex;
  flex-direction: row;
  width: 500vw;
  background-image: url("pic/second_page/envi.png");
  background-size: auto 43%;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.slide1-texthighlight {
  color: #ec5a38;
}
.slide1-text {
  width: 100vw;
  height: 100vh;
  background-image: url("pic/second_page/floor.png");
  background-size: 100vw 100vh;
}
.slide2-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide3-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide4-text {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide5-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.textlast {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: absolute;
  font-size: 3vh;
  top: 30%;
  left: 84%;
}
.dog {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 8vw;
  height: auto;
  left: 38vw;
  bottom: 20vh;
  /*transform: translate(-50%, -50%);*/
}

.start-text-ForUpperone {
  position: absolute;
  transform: translate(100%, 100%);
  font-size: 8vh;
}
.section-text {
  color: #ec5a38;
}

.text-highlight {
  color: #ec5a38;
  display: inline-block;
  font-size: 3.5vh;
}
h1 {
  font-size: 10vh;
}

/* .character16{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 12vw;
    height: auto;
    min-width: 30px;
    left: 125vw;
    bottom: 18.5vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */
/* .sign{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 15vw;
    height: auto;
    min-width: 15vw;
    left: 142vw;
    bottom: 19.5vh;
  } */

.character33 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 12vw;
  height: auto;
  left: 155vw;
  bottom: 10vh;
}
.character29-1 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 12vw;
  height: auto;
  left: 132vw;
  bottom: 17vh;
}
.uncle {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 237vw;
  bottom: 20vh;
}
.aunt {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 251vw;
  bottom: 20vh;
}
.character36 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 30vw;
  height: auto;
  left: 257vw;
  bottom: -42vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* slide 3 */
.orangetree {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 4;
  width: 11vw;
  height: auto;
  left: 360vw;
  bottom: 20vh;
}
.divuncle-4{
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  left: 335vw;
  bottom: 20vh;
}
.uncle-4 {
  width: 13vw;
  height: auto;
}
.character34 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 350vw;
  bottom: 20vh;
}
.character15 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 340vw;
  bottom: -15vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.character28 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 346vw;
  bottom: -15vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.character29_4 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 326vw;
  bottom: -2vh;
}
.character33_4 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 343vw;
  bottom: 7vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.character9 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 10vw;
  height: auto;
  left: 483vw;
  bottom: 20vh;
}
.newspaper {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 5vw;
  height: auto;
  left: 480vw;
  bottom: 15vh;
  transform: rotate(-13deg);
}
.character10 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 450vw;
  bottom: 15vh;
  transform: scaleX(-1);
}
.character38 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 40vw;
  height: auto;
  left: 405vw;
  bottom: -9vh;
}
.btnNext {
  width: 15vw;
  height: auto;
  left: 88%;
  top: 90%;
  transform: translate(-50%, -50%);
  position: relative;
  cursor: pointer;
}
.buttonpress {
  position: relative;
  z-index: 20;
  height: auto;
  width: 1.5vw;
  transform: translate(-50%) rotate(90deg);
  left: 50%;
  /*left:242.5vw;
  top: 37vh;*/
  opacity: 0.7;
}
.textpress {
  position: absolute;
  z-index: 20;
  height: 6em;
  width: auto;
  transform: translate(50%, 50%);
  left: 239.5vw;
  top: 32vh;
}
.textpress1 {
  position: absolute;
  z-index: 20;
  height: auto;
  width: auto;
  transform: translateX(-50%) translateY(-120%);
  left: 51%;
  top: 0%;
  animation: buttonpress1up_down 1s infinite;
}
.buttonpress1 {
  position: relative;
  z-index: 20;
  height: auto;
  width: 3vw;
  transform: translate(-50%);
  left: 62%;
  /*left:242.5vw;
  top: 37vh;*/
}

@keyframes buttonpress1up_down {
  0% {
    transform: translateX(-50%) translateY(-120%);
  }
  50% {
    transform: translateX(-50%) translateY(-135%);
  }
  100% {
    transform: translateX(-50%) translateY(-120%);
  }
}

/* for phone */
@media screen and (max-width: 992px) {
  .dog {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 25vw;
    height: auto;
    left: 40vw;
    bottom: 22vh;
    /*transform: translate(-50%, -50%);*/
  }
  .text-highlight {
    color: #ec5a38;
    display: inline-block;
    font-size: 2.5vh;
  }

  /* slide 2 */
  .slide2-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 25%;
  }
  .character29-1 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 110vw;
    bottom: 18vh;
  }
  .character33 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 150vw;
    bottom: 8vh;
  }

  /* slide 3 */
  .slide3-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 25%;
  }
  .uncle {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 208vw;
    bottom: 22vh;
  }
  .aunt {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 252vw;
    bottom: 22vh;
  }
  .character36 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 90vw;
    height: auto;
    left: 240vw;
    bottom: -42vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  /* slide 4 */
  .slide4-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 25%;
  }
  .uncle-4 {
    width: 40vw;
    height: auto;
  }
  .divuncle-4{
    left: 310vw;
    bottom: 22vh;
  }

  .character34 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 352vw;
    bottom: 22vh;
  }
  .character33_4 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 38vw;
    height: auto;
    left: 325vw;
    bottom: 15vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .character29_4 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 38vw;
    height: auto;
    left: 297vw;
    bottom: 5vh;
  }
  .character15 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 310vw;
    bottom: -8vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .character28 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 330vw;
    bottom: -8vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .character9 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 430vw;
    bottom: 20vh;
  }

  .orangetree {
    width: 35vw;
    height: auto;
    left: 365vw;
    bottom: 23vh;
  }
  .buttonpress1 {
    width: 60px;
    left: 70%;
  }

  /* slide 5 */
  .start-text-ForUpperone {
    position: absolute;
    transform: translate(50%, 200%);
    font-size: 5vh;
  }
  .textlast {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: absolute;
    font-size: 2vh;
    top: 25%;
    left: 82%;
  }
  .btnNext {
    width: 40vw;
    height: auto;
    left: 75%;
    top: 90%;
    transform: translate(-50%, -50%);
    position: relative;
    cursor: pointer;
  }
  .newspaper {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 5vw;
    height: auto;
    left: 480vw;
    bottom: 15vh;
    transform: rotate(-13deg);
    visibility: hidden;
  }
  .character38 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 405vw;
    bottom: -9vh;
    visibility: hidden;
  }
  .character10 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 13vw;
    height: auto;
    left: 450vw;
    bottom: 15vh;
    transform: scaleX(-1);
    visibility: hidden;
  }

}
