.slide {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  /*background-image: url("pic/fourth_page/floor.png");*/
  background-repeat: no-repeat;
  background-size: 100vw 82vh;
  background-position: left bottom;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background-image: url("pic/fourth_page/city.png");
  background-size: auto 51%;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.wrapper02 {
  display: flex;
  flex-direction: row;
  width: 500vw;
  background-image: url("pic/fourth_page/envi.png");
  background-size: auto 46%;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.slide2-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide3-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide4-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide5-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.textlast {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: absolute;
  font-size: 3vh;
  top: 25%;
  left: 86%;
}
.character18 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  min-width: 160px;
  left: 23vw;
  bottom: 15vh;
  /*transform: translate(-50%, -50%);*/
}

.character19 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 30vw;
  height: auto;
  min-width: 350px;
  left: 68vw;
  bottom: -32vh;
  /* transform: translate(-50%, -50%); */
}
.start-text-ForUpperone {
  position: absolute;
  transform: translate(110%, 35%);
  font-size: 5vh;
}
.section-text {
  color: #485bcf;
}
.text-highlight {
  color: #485bcf;
  display: inline-block;
  font-size: 3.5vh;
}
h1 {
  font-size: 10vh;
}

/* .character16{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 12vw;
    height: auto;
    min-width: 30px;
    left: 125vw;
    bottom: 18.5vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */
/* .sign{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 15vw;
    height: auto;
    min-width: 15vw;
    left: 142vw;
    bottom: 19.5vh;
  } */
.divshopTv {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  left: 123vw;
  bottom: 15vh;
}
.shopTv {
  width: 30vw;
  height: auto;
}
.divshopNews{
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  left: 153vw;
  bottom: 15vh;
}
.shopNews {
  width: 30vw;
  height: auto;
}
.uncle {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 237vw;
  bottom: 20vh;
}
.aunt {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 251vw;
  bottom: 20vh;
}
.character29 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 14vw;
  height: auto;
  left: 219vw;
  bottom: 2vh;
}
/* slide 3 */
.uncle-shop {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 45vw;
  height: auto;
  left: 328vw;
  bottom: 17vh;
}
.character13 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 360vw;
  bottom: 0vh;
}
.divshopUncleChoke{
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  left: 228vw;
  bottom: 17vh;
}
.shopUncleChoke {
  width: 45vw;
  height: auto;
}
.divpopup1 {
  position: absolute;
  /*background-color:red; */
  width: 10%;
  height: 22%;
  top: 0%;
  left: 87%;
  /*transform: translateX(-50%);*/
  /*opacity: 0.5;*/
}
.divpopup2 {
  position: absolute;
  /*background-color:blue; */
  width: 13%;
  height: 23%;
  top: 46%;
  left: 74%;
  /*transform: translateX(-50%);*/
  /*opacity: 0.5;*/
}
.character17 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 244vw;
  bottom: 13vh;
}
.whiteChair {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 20vw;
  height: auto;
  left: 252vw;
  bottom: -3vh;
}

.character24 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 4;
  width: 65vw;
  height: auto;
  left: 440vw;
  bottom: -110vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.btnNext {
  transform-style: preserve-3d;
  z-index: 6;
  width: 15vw;
  height: auto;
  left: 88%;
  top: 90%;
  transform: translate(-50%, -50%);
  position: relative;
  cursor: pointer;
}
.car {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 405vw;
  bottom: 20vh;
}

.textpress {
  position: absolute;
  z-index: 200;
  height: auto;
  width: auto;
  transform: translateX(-50%) translateY(-135%);
  left: 50%;
  top: 0%;
  animation: buttonpress2up_down 1s infinite;
}
.buttonpress {
  position: relative;
  z-index: 200;
  height: auto;
  width: 3vw;
  transform: translate(-50%);
  left: 50%;
  /*left:242.5vw;
  top: 37vh;*/
}

.textpress1 {
  position: absolute;
  z-index: 200;
  height: auto;
  width: auto;
  transform: translateX(-50%) translateY(-135%);
  left: 50%;
  top: 0%;
  animation: buttonpress2up_down 1s infinite;
}
.buttonpress1 {
  position: relative;
  z-index: 200;
  height: auto;
  width: 3vw;
  transform: translate(-50%);
  left: 50%;
  /*left:242.5vw;
  top: 37vh;*/
}

@keyframes buttonpress2up_down {
  0% {
    transform: translateX(-50%) translateY(-120%);
  }
  50% {
    transform: translateX(-50%) translateY(-135%);
  }
  100% {
    transform: translateX(-50%) translateY(-120%);
  }
}
.textpress2 {
  position: absolute;
  z-index: 200;
  height: auto;
  width: auto;
  transform: translateX(-50%) translateY(-135%);
  left: 50%;
  top: 0%;
  animation: buttonpress2up_down 1s infinite;
}
.buttonpress2 {
  position: relative;
  z-index: 200;
  height: auto;
  width: 3vw;
  transform: translate(-50%);
  left: 50%;
  /*left:242.5vw;
  top: 37vh;*/
}
.textpress3 {
  position: absolute;
  z-index: 200;
  height: auto;
  width: auto;
  transform: translateX(-50%) translateY(-135%);
  left: 50%;
  top: 0%;
  animation: buttonpress2up_down 1s infinite;
}
.buttonpress3 {
  position: relative;
  z-index: 200;
  height: auto;
  width: 3vw;
  transform: translate(-50%);
  left: 50%;
  /*left:242.5vw;
  top: 37vh;*/
}

/* for phone */
@media screen and (max-width: 992px) {
  .text-highlight {
    color: #485bcf;
    display: inline-block;
    font-size: 2.5vh;
  }

  /* slide 1 */
  .character19 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 75vw;
    height: auto;
    min-width: 350px;
    left: 43vw;
    bottom: -13vh;
    /* transform: translate(-50%, -50%); */
  }
  .character18 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 50vw;
    height: auto;
    min-width: 160px;
    left: 0vw;
    bottom: 23vh;
    /*transform: translate(-50%, -50%);*/
  }

  /* slide 2 */
  .slide2-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 18%;
  }
  .shopTv {
    width: 50vw;
    height: auto;
    left: -23vw;
    bottom: 7vh;
  }

  .divshopTv {
    left: 100vw;
    bottom: 22vh;
  }
  .shopNews {
    width: 50vw;
    height: auto;
    left: -3vw;
    bottom: 7vh;
  }
  .divshopNews{
    left: 148vw;
    bottom: 22vh;
  }

  .buttonpress {
    width: 60px;
    left: 50%;
    /* left:242.5vw;
    bottom: 30vh; */
  }
  .buttonpress1 {
    width: 60px;
    left: 50%;
  }

  /* slide 3 */
  .slide3-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 25%;
  }
  .shopUncleChoke {
    width: 140vw;
    height: auto;
    left: -15vw;
  }
  .divshopUncleChoke{
    left: 215vw;
    bottom: 22vh;
  }
  .character29 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 45vw;
    height: auto;
    left: 195vw;
    bottom: 8vh;
  }
  .character17 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 35vw;
    height: auto;
    left: 270vw;
    bottom: 20vh;
  }
  .whiteChair {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 55vw;
    height: auto;
    left: 240vw;
    bottom: 5vh;
  }
  .buttonpress2 {
    width: 60px;
    left: 50%;
  }
  .buttonpress3 {
    width: 60px;
    left: 50%;
  }

  /* slide 4 */
  .slide4-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 25%;
  }
  .character13 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 40vw;
    height: auto;
    left: 340vw;
    bottom: 15vh;
  }
  .uncle-shop {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 1vw;
    height: auto;
    left: 328vw;
    bottom: -100vh;
  }

  /* slide 5 */
  .car {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 35vw;
    height: auto;
    left: 405vw;
    bottom: 22vh;
  }
  .character24 {
    width: 120vw;
    height: auto;
    left: 420vw;
    bottom: -30vh;
  }
  .btnNext {
    transform-style: preserve-3d;
    z-index: 6;
    width: 40vw;
    height: auto;
    left: 75%;
    top: 90%;
    transform: translate(-50%, -50%);
    position: relative;
    cursor: pointer;
  }
  .textlast {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: absolute;
    font-size: 2vh;
    top: 25%;
    left: 82.3%;
  }
  .start-text-ForUpperone {
    position: absolute;
    transform: translate(40%, 80%);
    font-size: 5vh;
  }
  h1 {
    font-size: 100px;
  }
  .btnNext {
    width: 40vw;
    height: auto;
    left: 75%;
    top: 85%;
    transform: translate(-50%, -50%);
    position: relative;
    cursor: pointer;
  }
}