.slide {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  /*background-image: url("pic/seventh_page/floor.png");*/
  background-repeat: no-repeat;
  background-size: 100vw 83vh;
  background-position: left bottom;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background-image: url("pic/seventh_page/city.png");
  background-size: auto 51%;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.wrapper02 {
  display: flex;
  flex-direction: row;
  width: 500vw;
  background-image: url("pic/seventh_page/envi.png");
  background-size: auto 43%;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.slide1-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: left;
  top: 30%;
  left: 63vw;
}
.slide2-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide3-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide4-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide5-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.dog {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 8vw;
  height: auto;
  min-width: 160px;
  left: 38vw;
  bottom: 20vh;
  /*transform: translate(-50%, -50%);*/
}

.umbrella {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 10vw;
  height: auto;
  min-width: 350px;
  left: 47vw;
  bottom: 18.5vh;
  /* transform: translate(-50%, -50%); */
}
.start-text-ForUpperone {
  position: absolute;
  transform: translate(110%, 35%);
  font-size: 5vh;
}

.section-text {
  color: #9d27fc;
}

.text-highlight {
  color: #9d27fc;
  display: inline-block;
  font-size: 3.5vh;
}

/* .character16{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 12vw;
    height: auto;
    min-width: 30px;
    left: 125vw;
    bottom: 18.5vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */
/* .sign{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 15vw;
    height: auto;
    min-width: 15vw;
    left: 142vw;
    bottom: 19.5vh;
  } */

.sign {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 140.5vw;
  bottom: 20vh;
}
.black_table {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 162vw;
  bottom: 3vh;
}
.character4 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 370vw;
  bottom: -10vh;
}
.character6 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 11vw;
  height: auto;
  left: 323vw;
  bottom: 0vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.character16 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 12vw;
  height: auto;
  left: 130vw;
  bottom: 10vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.uncle {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 60vw;
  bottom: 17vh;
}
.uncle_shop {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 30vw;
  height: auto;
  left: 135vw;
  bottom: 17vh;
}
.uncle_shop_2 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 50vw;
  height: auto;
  left: 226vw;
  bottom: 17vh;
}
.pole {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 4;
  width: 10.5vw;
  height: auto;
  left: 247vw;
  bottom: 17vh;
}

.uncle_shop_3 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 4;
  width: 35vw;
  height: auto;
  left: 332.5vw;
  bottom: 17vh;
}
.aunt {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 251vw;
  bottom: 20vh;
}
.character29 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 14vw;
  height: auto;
  left: 260vw;
  bottom: 6vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* slide 3 */
.uncle-4 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 10vw;
  height: auto;
  left: 345vw;
  bottom: 17vh;
}
.character13 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 325vw;
  bottom: -17vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
h1 {
  font-size: 10vh;
}
.car {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 40vw;
  height: auto;
  left: 270vw;
  bottom: -10vh;
}
.rocket {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 10vw;
  height: auto;
  left: 315vw;
  bottom: 50vh;
  rotate: -20deg;
}
.logo_aad {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 442vw;
  bottom: 50vh;
}
.logo_it {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 442vw;
  bottom: 40vh;
}
/* for phone */
@media screen and (max-width: 992px) {
  .text-highlight {
    color: #9d27fc;
    display: inline-block;
    font-size: 2.5vh;
  }
  /* slide 1 */
  .uncle {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 30vw;
    height: auto;
    left: 35vw;
    bottom: 22vh;
  }
  .dog {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 8vw;
    height: auto;
    min-width: 160px;
    left: 38vw;
    bottom: 20vh;
    visibility: hidden;
    /*transform: translate(-50%, -50%);*/
  }

  /* slide 2 */
  .uncle_shop {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 50vw;
    height: auto;
    left: 125vw;
    bottom: 23vh;
  }
  .black_table {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 30vw;
    height: auto;
    left: 150vw;
    bottom: 8vh;
  }

  /* slide 3 */
  .uncle_shop_2 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 90vw;
    height: auto;
    left: 208vw;
    bottom: 23vh;
  }
  .pole {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 4;
    width: 20vw;
    height: auto;
    left: 247vw;
    bottom: 25vh;
  }
  .car {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 80vw;
    height: auto;
    left: 212vw;
    bottom: -7vh;
  }

  /* slide 4 */
  .uncle-4 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 20vw;
    height: auto;
    left: 343vw;
    bottom: 22vh;
  }
  .uncle_shop_3 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 4;
    width: 70vw;
    height: auto;
    left: 317vw;
    bottom: 23vh;
  }
  .rocket {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 30vw;
    height: auto;
    left: 315vw;
    bottom: 50vh;
    rotate: -20deg;
  }
  .character4 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 15vw;
    height: auto;
    left: 370vw;
    bottom: -10vh;
    visibility: hidden;
  }
  .character6 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 11vw;
    height: auto;
    left: 323vw;
    bottom: 0vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    visibility: hidden;
  }
  .start-text-ForUpperone {
    position: absolute;
    transform: translate(40%, 80%);
    font-size: 5vh;
  }
  h1 {
    font-size: 100px;
  }
  .btnNext {
    width: 40vw;
    height: auto;
    left: 75%;
    top: 85%;
    transform: translate(-50%, -50%);
    position: relative;
    cursor: pointer;
  }
  .slide1-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: left;
    top: 40%;
    left: 30vw;
  }
  .slide2-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 30%;
  }
  .slide3-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 18%;
  }
  .slide4-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 15%;
  }
  .slide5-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 15%;
  }
  .logo_aad {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 25vw;
    height: auto;
    left: 438vw;
    bottom: 50vh;
  }
  .logo_it {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 45vw;
    height: auto;
    left: 425vw;
    bottom: 42vh;
  }

}
