.slide {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  /*background-image: url("pic/third_page/floor.png");*/
  background-size: 100vw 100vh;
  background-position: left bottom;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background-image: url("pic/third_page/city.png");
  background-size: auto 51%;
  background-repeat: repeat-x;
  background-position: left bottom;
}

.wrapper02 {
  display: flex;
  flex-direction: row;
  width: 500vw;
  background-image: url("pic/third_page/envi.png");
  background-size: auto 43%;
  background-repeat: repeat-x;
  background-position: left bottom;
}

.slide2-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}

.slide3-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  top: 18%;
  left: 25%;
}

.slide4-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}

.slide5-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}

.textlast {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: absolute;
  font-size: 3vh;
  top: 25%;
  left: 82%;
}

.character12 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 12vw;
  height: auto;
  min-width: 30px;
  left: 30vw;
  bottom: 18.5vh;
}

.text-highlight {
  color: #4abd68;
  display: inline-block;
  font-size: 3.5vh;
}

/* .character16{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 12vw;
    height: auto;
    min-width: 30px;
    left: 125vw;
    bottom: 18.5vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */
/* .sign{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 15vw;
    height: auto;
    min-width: 15vw;
    left: 142vw;
    bottom: 19.5vh;
  } */

.shop {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 4;
  width: 25vw;
  height: auto;
  left: 137vw;
  bottom: 20vh;
}

.divNews {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  left: 154.5vw;
  bottom: 40vh;
}

.News {
  width: 5vw;
  height: auto;
}

/*.aunt {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 251vw;
  bottom: 20vh;
}*/

/* slide 3 */
.character29 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 14vw;
  height: auto;
  left: 230vw;
  bottom: 20vh;
}

.character29-2 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 20vw;
  height: auto;
  left: 465vw;
  bottom: -20vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.divnewspaperShop {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 30vw;
  height: auto;
  left: 336vw;
  bottom: 20vh;
}

.newspaperShop {
  width: 30vw;
  height: auto;
}

.divpopup1 {
  position: absolute;
  /*background-color:red; */
  width: 55%;
  height: 30%;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  /*opacity: 0.5;*/
}

.divpopup2 {
  position: absolute;
  /*background-color:blue; */
  width: 57%;
  height: 18%;
  top: 62%;
  left: 49.5%;
  transform: translateX(-50%);
  /*opacity: 0.5;*/
}

.character33 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 22vw;
  height: auto;
  left: 247vw;
  bottom: -25vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.divBoard{
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  left: 230vw;
  bottom: 20vh;
}
.Board {
  width: 50vw;
  height: auto;
}

.vintagetv {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 10vw;
  height: auto;
  left: 448vw;
  bottom: 20vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.character30 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 10vw;
  height: auto;
}

#character301 {
  left: 458vw;
  bottom: 12vh;
}

#character302 {
  left: 474vw;
  bottom: 19vh;
}

.character13 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 325vw;
  bottom: -17vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.character11 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 17vw;
  height: auto;
  left: 315vw;
  bottom: -9vh;
}

.uncleread {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 8vw;
  height: auto;
  left: 363vw;
  bottom: 15vh;
}

.start-text-ForUpperone {
  position: absolute;
  transform: translate(80%, 35%);
  font-size: 5vh;
}

.section-text {
  color: #4abd68;
}

h1 {
  font-size: 10vh;
}

.btnNext {
  transform-style: preserve-3d;
  z-index: 6;
  width: 15vw;
  height: auto;
  left: 88%;
  top: 90%;
  transform: translate(-50%, -50%);
  position: relative;
  cursor: pointer;
}

.textpress {
  position: absolute;
  z-index: 200;
  height: auto;
  width: auto;
  transform: translateX(30%) translateY(-50%) rotate(90deg);
  left: 100%;
  top: 50%;
  animation: buttonpress2left-right 1s infinite;
}

.buttonpress {
  position: relative;
  z-index: 200;
  height: auto;
  width: 3vw;
  transform: translate(-50%);
  left: 50%;
  /*left:242.5vw;
  top: 37vh;*/
}

@keyframes buttonpress2left-right {
  0% {
    transform: translateX(30%) translateY(-50%) rotate(90deg);
  }

  50% {
    transform: translateX(15%) translateY(-50%) rotate(90deg);
  }

  100% {
    transform: translateX(30%) translateY(-50%) rotate(90deg);
  }
}
.buttonpress1 {
  position: relative;
  z-index: 20;
  height: auto;
  width: 3vw;
  transform: translate(-50%);
  left: 50%;
  /*left:242.5vw;
  top: 37vh;*/
}

.textpress1 {
  position: absolute;
  z-index: 20;
  height: auto;
  width: auto;
  transform: translateX(-50%) translateY(-120%);
  left: 50%;
  top: 0%;
  animation: buttonpress2up_down 1s infinite;
}
/*ไม่ต้องใช้เป็นต้นฉบับที่ผิดพวกเลข1*/
/*.buttonpress1 {
  position: relative;
  z-index: 20;
  height: auto;
  width: 1.5vw;
  transform: translate(-50%) rotate(90deg);
  left: 50%;*/
/*left:242.5vw;
  top: 37vh;*/
/*}*/
/*.textpress1 {
  position: absolute;
  z-index: 20;
  height: auto;
  width: auto;
  transform: translate(50%, 50%);
  left: 239.5vw;
  top: 31vh;
}*/
.buttonpress2 {
  position: relative;
  z-index: 20;
  height: auto;
  width: 3vw;
  transform: translate(-50%);
  left: 50%;
  /*left:242.5vw;
  top: 37vh;*/
}

.textpress2 {
  position: absolute;
  z-index: 20;
  height: auto;
  width: auto;
  transform: translateX(-50%) translateY(-120%);
  left: 50%;
  top: 0%;
  animation: buttonpress2up_down 1s infinite;
}

@keyframes buttonpress2up_down {
  0% {
    transform: translateX(-50%) translateY(-120%);
  }

  50% {
    transform: translateX(-50%) translateY(-135%);
  }

  100% {
    transform: translateX(-50%) translateY(-120%);
  }
}

.buttonpress3 {
  position: relative;
  z-index: 200;
  height: auto;
  width: 3vw;
  transform: translate(-50%);
  left: 50%;
  /*left:242.5vw;
  top: 37vh;*/
}

.textpress3 {
  position: absolute;
  z-index: 200;
  height: auto;
  width: auto;
  transform: translateX(-50%) translateY(20%) rotate(180deg);
  left: 50%;
  top: 100%;
  animation: buttonpress3up_down 1s infinite;
}

@keyframes buttonpress3up_down {
  0% {
    transform: translateX(-50%) translateY(20%) rotate(180deg);
  }

  50% {
    transform: translateX(-50%) translateY(35%) rotate(180deg);
  }

  100% {
    transform: translateX(-50%) translateY(20%) rotate(180deg);
  }
}

/* for phone */
@media screen and (max-width: 992px) {
  .text-highlight {
    color: #4abd68;
    display: inline-block;
    font-size: 2.5vh;
  }

  /* slide 1 */
  .character12 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 35vw;
    height: auto;
    min-width: 30px;
    left: 15vw;
    bottom: 20vh;
  }

  /* slide 2 */
  .slide2-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 18%;
  }

  .shop {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 65vw;
    height: auto;
    left: 120vw;
    bottom: 22vh;
  }

  .divNews {
    left: 167.5vw;
    bottom: 33vh;
  }
  
  .News {
    width: 10vw;
    height: auto;
  }

  .buttonpress {
    height: auto;
    width: 60px;
    left: 50%;
  }

  /* slide 3 */
  .slide3-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 25%;
    left: -1.5%;
  }

  .divBoard{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    left: 210vw;
    bottom: 20vh;
  }
  .Board {
    width: 100vw;
    height: auto;
  }

  .character33 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 50vw;
    height: auto;
    left: 240vw;
    bottom: -5vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  /* slide 4 */
  .slide4-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 18%;
  }

  .character11 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 35vw;
    height: auto;
    left: 315vw;
    bottom: 10vh;
  }

  .uncleread {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 18vw;
    height: auto;
    left: 368vw;
    bottom: 25vh;
  }

  .divnewspaperShop {
    width: 70vw;
    height: auto;
    left: 310vw;
    bottom: 24vh;
  }
  
  .newspaperShop {
    width: 70vw;
    height: auto;
  }

  .buttonpress2 {
    height: auto;
    width: 60px;
    left: 50%;
  }

  .buttonpress3 {
    height: auto;
    width: 60px;
    left: 50%;
  }

  /* slide 5 */
  .textlast {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: absolute;
    font-size: 2vh;
    top: 25%;
    left: 80.5%;
  }

  .vintagetv {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 25vw;
    height: auto;
    left: 440vw;
    bottom: 23vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .character30 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 35vw;
    height: auto;
  }
  .character29 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 30vw;
    height: auto;
    left: 210vw;
    bottom: 22vh;
  }

  #character301 {
    left: 443vw;
    bottom: 0vh;
  }

  #character302 {
    left: 465vw;
    bottom: 5vh;
  }

  .start-text-ForUpperone {
    position: absolute;
    transform: translate(50%, 100%);
    font-size: 5vh;
  }

  h1 {
    font-size: 100px;
  }

  .btnNext {
    width: 40vw;
    height: auto;
    left: 75%;
    top: 90%;
    transform: translate(-50%, -50%);
    position: relative;
    cursor: pointer;
  }

  .textpress1 {
    width: 60px;
  }

  .buttonpress1 {
    position: relative;
    z-index: 20;
    height: auto;
    width: 60px;
    transform: translate(-50%);
    left: 50%;
  }
  .textpress3 {
    position: absolute;
    z-index: 200;
    height: auto;
    width: auto;
    transform: translateX(-50%) translateY(20%) rotate(180deg);
    left: 70%;
    top: 100%;
    animation: buttonpress3up_down 1s infinite;
  }
}