body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("pic/first_page/bg.png");
  font-family: "Chonburi", cursive;
  scroll-behavior: smooth;
  overflow: hidden;
}

.wrapper03 {
  display: flex;
  flex-direction: row;
  width: 500vw;
  background-size: auto 100%;
  background-repeat: no-repeat, repeat-x;
  background-position: left bottom;
}

.blue-first-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0.7;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.floor {
  position:absolute;
  top:0%;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
}
.floorFlip{
  transform: scaleX(-1);
}
/*floor นี้ตั้งแต่ 4 ขึ้นไป*/
.floor2 {
  position:absolute;
  bottom:0%;
  width: 100vw;
  height: 82vh;
  scroll-snap-align: center;
}
.one {
}
.two {
}
.three {
}
.four {
}

::-webkit-scrollbar {
  display: none;
}

/*.btnNext {
  width: 100px;
  height: 100px;
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  cursor: pointer;
}*/

.back-background {
  position: absolute;
}
.header {
  position: fixed;
  text-align: center;
  width: 100vw;
  left: 50vw;
  transform: translateX(-50%);
  font-size: 25px;
  margin-top: 1%;
  visibility: visible;
  transform-style: preserve-3d;
  z-index: -1;
}
.iconpage {
  width: 40px;
  transform: translateY(10px);
}
h1 {
  font-size: 65px;
}
.start-text {
  position: absolute;
  transform: translate(69%, 30%);
  transform-style: preserve-3d;
  z-index: 1;
}
.icon-start {
  width: 25%;
  transform: translateY(20px);
}
.menu{
  position:fixed;
  right:3vw;
  top:3vh;
  width: 3.5vh;
}
#carouselDots{
  height: 1em;
  width: 14.5em;
}
.carousel
{
  position:fixed;
  top:12vh;
  left:50vw;
  height: auto;
  width: 229px;
  transform: translateX(-50%);
}

.nextslide{
  position:fixed;
  right:2.5vw;
  top:50vh;
}
.btnnextslide{
  position:absolute;
  z-index: 20;
  height:auto;
  width: 2.5vw;
  transform: translate(-50%, -50%);
  cursor:pointer;
  opacity: 0.2;
}
.previousslide{
  position:fixed;
  left:2.5vw;
  top:50vh;
}
.btnpreviousslide{
  position:absolute;
  z-index: 20;
  height:auto;
  width: 2.5vw;
  transform: translate(-50%, -50%) rotate(180deg);
  cursor:pointer;
  visibility: hidden;
  opacity: 0.2;
}
.dropdown{
  float: right;
  position: absolute;
}
.popup{
  top:0;
  position:absolute;
  transform-style: preserve-3d;
  z-index: 420;
  width:100vw;
  height: 100vh;  
}

.popupImg{
  display:block;
  width:15vw;
  /* position: absolute; */
  position:relative;
  transform-style: preserve-3d;
  z-index: 423;
  left: 50%;
  transform:translateX(-50%) translateY(-50%);
}

/*.popupContent{
  position: absolute;
  top: 30%;
}*/
.popupContent{
  position: relative;
  top: -25%;
}
.popupCard{
  display:block;
  transform-style: preserve-3d;
  z-index: 422;
  position: absolute;
  width: 30vw;
  height: 70vh;
  background-color: pink;
  left: 50%;
  top:60%;
  transform: translateX(-50%) translateY(-50%);
  justify-content: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.popupBG{
  transform-style: preserve-3d;
  z-index: 421;
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.75);
}

.popupExit{
  position: absolute;
  width: 4vw;
  left:50%;
  top:60vh;
  transform: translateX(-50%);
}
.cloudhouse{
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.cloud01{
  position: absolute;
  width: 20vw;
  height: auto;
  left: 60vw;
  bottom: 70vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud01 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -25s;
}
.cloud02{
  position: absolute;
  width: 20vw;
  height: auto;
  left: 5vw;
  bottom: 60vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud02 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -5s;
}
.cloud03{
  position: absolute;
  width: 10vw;
  height: auto;
  left: 90vw;
  bottom: 50vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud03 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -35s;

}
.cloud01-2{
  position: absolute;
  width: 20vw;
  height: auto;
  left: 60vw;
  bottom: 70vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud01 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -65s;
}
.cloud02-2{
  position: absolute;
  width: 20vw;
  height: auto;
  left: 60vw;
  bottom: 60vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud02 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -40s;
}
.cloud03-2{
  position: absolute;
  width: 10vw;
  height: auto;
  left: 90vw;
  bottom: 50vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud03 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -75s;

}
.cloud01-3{
  position: absolute;
  width: 20vw;
  height: auto;
  left: 60vw;
  bottom: 70vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud01 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -105s;
}
.cloud02-3{
  position: absolute;
  width: 20vw;
  height: auto;
  left: 60vw;
  bottom: 60vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud02 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -80s;
}
.cloud03-3{
  position: absolute;
  width: 10vw;
  height: auto;
  left: 90vw;
  bottom: 50vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud03 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -115s;

}
.cloud01-4{
  position: absolute;
  width: 20vw;
  height: auto;
  left: 60vw;
  bottom: 70vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud01 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -145s;
}
.cloud02-4{
  position: absolute;
  width: 20vw;
  height: auto;
  left: 60vw;
  bottom: 60vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud02 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -120s;
}
.cloud03-4{
  position: absolute;
  width: 10vw;
  height: auto;
  left: 90vw;
  bottom: 50vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud03 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -155s;

}
.cloud01-5{
  position: absolute;
  width: 20vw;
  height: auto;
  left: 60vw;
  bottom: 70vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud01 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -185s;
}
.cloud02-5{
  position: absolute;
  width: 20vw;
  height: auto;
  left: 60vw;
  bottom: 60vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud02 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -160s;
}
.cloud03-5{
  position: absolute;
  width: 10vw;
  height: auto;
  left: 90vw;
  bottom: 50vh;
  transform-style: preserve-3d;
  z-index: -5;
  animation: cloud03 1s linear infinite forwards;
  animation-duration: 200s;
  animation-delay: -195s;

}
.footer{
  display:flex;
  bottom: 0%;
  left:0%;
  position: fixed;
  width: 20vw;
  height: auto;
  background-color: white;
  border-top-right-radius: 25px;
  opacity: 0.8;
  justify-content: center;
}
.nited{
  position: relative;
  width: 7vw;
  height: auto;
  margin-right: 20px;
}
.it{
  position: relative;
  width: 9vw;
  height:auto;
}
@keyframes cloud01 {
  from{ left: 0vw;

  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
  to {
    left: 480vw;
  }
}

@keyframes cloud02 {
  from{ left: 0vw;

  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
  to {
    left: 480vw;
  }
}

@keyframes cloud03 {
  from{ left: 0vw;

  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
  to {
    left: 480vw;
  }
}