.slide2-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide3-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide4-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.slide5-text {
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: relative;
  font-size: 3vh;
  text-align: center;
  top: 18%;
}
.character12{
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 12vw;
  height: auto;
  min-width: 30px;
  left: 30vw;
  bottom: 18.5vh;
}


.text-highlight {
  color: #4abd68;
  display: inline-block;
  font-size: 3.5vh;
}

/* .character16{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 12vw;
    height: auto;
    min-width: 30px;
    left: 125vw;
    bottom: 18.5vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  } */
/* .sign{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 15vw;
    height: auto;
    min-width: 15vw;
    left: 142vw;
    bottom: 19.5vh;
  } */

.shop {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 25vw;
  height: auto;
  left: 137vw;
  bottom: 20vh;
}

/*.aunt {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 13vw;
  height: auto;
  left: 251vw;
  bottom: 20vh;
}*/

/* slide 3 */
.character29 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 14vw;
  height: auto;
  left: 230vw;
  bottom: 20vh;
}
.newspaperShop {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 30vw;
  height: auto;
  left: 340vw;
  bottom: 20vh;
}
.character33 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 22vw;
  height: auto;
  left: 247vw;
  bottom: -25vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.Board{
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 25vw;
  height: auto;
  left: 240vw;
  bottom: 25vh;
}
.vintagetv{
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 10vw;
  height: auto;
  left: 430vw;
  bottom: 20vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.character30 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
}
#character301 {
  left: 435vw;
  bottom: -3vh;
}
#character302 {
  left: 443vw;
  bottom: 0vh;
}
.character13 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 15vw;
  height: auto;
  left: 325vw;
  bottom: -17vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.character11 {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 17vw;
  height: auto;
  left: 315vw;
  bottom: -9vh;
}
.uncleread {
  transform-style: preserve-3d;
  position: absolute;
  z-index: 5;
  width: 8vw;
  height: auto;
  left: 366vw;
  bottom: 20vh;
}
.section-text{
  color: #4abd68;

}

/* for phone */
@media screen and (max-width: 992px) {
  .text-highlight {
    color: #4abd68;
    display: inline-block;
    font-size: 2.5vh;
  }
  /* slide 1 */
  .character12{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 35vw;
    height: auto;
    min-width: 30px;
    left: 15vw;
    bottom: 20vh;
  }

  /* slide 2 */
  .slide2-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 18%;
  }
  .shop {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 65vw;
    height: auto;
    left: 120vw;
    bottom: 22vh;
  }

  /* slide 3 */
  .slide3-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 25%;
  }
  .character29 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 30vw;
    height: auto;
    left: 210vw;
    bottom: 20vh;
  }
  .Board{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 55vw;
    height: auto;
    left: 225vw;
    bottom: 25vh;
  }
  .character33 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 50vw;
    height: auto;
    left: 240vw;
    bottom: -5vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  /* slide 4 */
  .slide4-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 18%;
  }
  .newspaperShop {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 60vw;
    height: auto;
    left: 316vw;
    bottom: 25vh;
  }
  .character11 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 35vw;
    height: auto;
    left: 315vw;
    bottom: 10vh;
  }
  .uncleread {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 18vw;
    height: auto;
    left: 368vw;
    bottom: 25vh;
  }

  /* slide 5 */
  .slide5-text {
    font-family: "IBM Plex Sans Thai", sans-serif;
    position: relative;
    font-size: 2vh;
    text-align: center;
    top: 25%;
  }
  .vintagetv{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 25vw;
    height: auto;
    left: 440vw;
    bottom: 23vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .character30 {
    transform-style: preserve-3d;
    position: absolute;
    z-index: 5;
    width: 35vw;
    height: auto;
  }
  #character301 {
    left: 443vw;
    bottom: 0vh;
  }
  #character302 {
    left: 465vw;
    bottom: 5vh;
  }
}
