body {
  margin: 0;
}

.slide {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  scroll-snap-type: y mandatory;
}

.one {
  background: #efdefe;
}
.two {
  background: #a3f3d3;
}
.three {
  background: #0bbaa0;
}
.four {
  background: #00dfdf;
}

::-webkit-scrollbar {
  display: none;
}

.btnNext {
  width: 100px;
  height: 100px;
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  cursor: pointer;
}
